*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffa4a4;
    text-align: center;
}
#heading{
    margin-top: 20px;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#msg{
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

.hide{
    display: none;

}
#line {
    position: absolute;
    width: 0;
    height: 5px;
    background-color: rgb(19, 239, 198);
    transition: 0.3s ease-in-out;
    transform-origin: left center;
    display: none;
    z-index: 10; 
    border-radius: 5px;
}
#line::after {
    content: "➤"; /* Unicode arrow symbol */
    font-size: 24px;
    color: rgb(19, 239, 198);
    position: absolute;
    right: 0;  /* Aligns arrow at the end */
    top: 50%;  /* Center it vertically */
    transform: translate(50%, -50%) rotate(0deg); /* Adjust arrowhead position */
    transform-origin: center;
}

#new-btn{
    height: 50px;
    width: 150px;
    color: skyblue;
    background-color: #000000;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.game{
    position: relative;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    color: #ffffff;
    background-color: #000000;
    font-size: 8vmin;
    vertical-align: middle;
    cursor: pointer;
}
#reset-btn{
    height: 50px;
    width: 150px;
    color: skyblue;
    background-color: #000000;
    font-size: 14px;
    border-radius: 10px;
}
